.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-quantity {
  height: 17px;
  width: 17px;
  border-radius: 8.5px;
  background-color: rgb(69, 69, 69);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.cart {
  background-color: rgb(252, 251, 236);
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  z-index: 100000;
  height: 100vh;
  padding: 30px;
  gap: 10px;
  transition: 0.3s ease;
  transform: translateX(100%);
  z-index: 10;
}

.close-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.itemNo {
  display: flex;
  flex-direction: row;
}

.close-button {
  display: flex;
  flex-direction: row;
}

.cart-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 550px;
  overflow-y: scroll;
  background-color: rgb(252, 251, 236);
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding-block: 15px;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: fit-content;
}

.products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
}

.products:last-child {
  border-bottom: none;
}

.product-image {
  width: 150px;
  height: auto;
}

.product-image img {
  width: 100%;
}

.product-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px;
}

.product-details p {
  text-transform: uppercase;
  font-family: "Gupter", "Times New Roman";
  font-size: 14px;
  font-weight: 500;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-increment {
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  width: 70px;
  padding-block: 3px;
}

.checkout-section {
  width: 100%;
}

.price-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.checkout-section a {
  color: black;
}

.checkout-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
}

.checkout-buttons button {
  width: fit-content;
  padding: 15px 40px;
}

.checkout-buttons button:hover {
  background-color: black;
  color: white;
}
