* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(250, 246, 241);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.my-account {
  padding: 300px 150px 100px 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* background-color: yellow; */
  width: 100%;
  height: 270px;
}

.my-account::before {
  content: "> ";
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: black; */
  width: 100%;
  height: 500px;
  align-items: stretch;
  gap: 50px;
  padding-inline: 100px;
}

.form-1,
.form-2 {
  background-color: rgb(250, 246, 241);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-1 label,
.form-2 label {
  font-family: "Gupter", "Times New Roman";
  font-size: 14px;
}

.form-1 h2 {
  padding-bottom: 20px;
}

.form-2 h2 {
  padding-bottom: 20px;
}

#login,
#register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#email,
#password,
.checkbox-row,
.form-1 button,
#reg-email,
#reg-user,
#reg-password {
  margin-bottom: 8px;
}

.form-1 input,
.form-2 input {
  height: 45px;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-1 button,
.form-2 button {
  display: flex;
  width: fit-content;
  padding: 10px 20px;
  font-family: "Times New Roman", Times, serif;
}
.form-1 a {
  text-decoration: none;
  color: black;
}
