* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 239, 191);
  color: rgb(44, 44, 44);
  width: 100%;
  padding-block: 14px;
  border-bottom: 1px solid black;
  font-family: sans-serif;
  font-size: 12px;
}

.header-one a {
  font-weight: bolder;
  color: black;
}

.header-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 239, 191);
  width: 100%;
  padding-block: 14px;
  border-bottom: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-family: "Gupter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
}

.scroll-text {
  display: inline-block;
  animation: scroll-text 13s linear infinite;
}

@keyframes scroll-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.header-three {
  background-color: rgb(250, 242, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icons span{
  cursor: pointer;
}

.icons a{
  text-decoration: none;
  color: black;
}

.favorite-icon:hover{
  color: grey;
  transition: 0.1s ease;
}

.cart-container{
  display: flex;
  justify-content: center;
  align-items: center;

}


.cart-quantity{
  height: 17px;
  width: 17px;
  border-radius: 8.5px;
  background-color: rgb(69, 69, 69);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.inside-h3 {
  background-color: rgb(250, 242, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  padding: 10px;
}

.h3-img {
  height: 30px;
  width: auto;
}

.h3-img img {
  height: 100%;
  width: 100%;
}

.search-box {
  position: relative;
  width: 360px;
  border-bottom: 1px solid #333;
  transition: width 0.3s ease;
}

.search-box input {
  width: 100%;
  padding: 8px 8px 8px 35px;
  font-size: 16px;
  border: none;
  background: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.search-box span {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); 
  opacity: 0;                  
  pointer-events: none;        
  transition: opacity 0.3s ease;
  z-index: 9;                 
}

.cart{
  background-color: rgb(252, 251, 236);
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  z-index: 100000;
  height: 100vh;
  padding: 30px;
  gap: 10px;
  transition: 0.3s ease;
  transform: translateX(100%);
  z-index: 10; 
}


.close-toggle{
   display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.itemNo{
  display: flex;
  flex-direction: row;
}

.close-button{
  display: flex;
  flex-direction: row ;
}

.cart-items{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 550px;
  overflow-y: scroll;
   background-color: rgb(252, 251, 236);
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   padding-block: 15px;
}

.items{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: fit-content;

}

.products{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid gray;
}

.products:last-child{
  border-bottom: none;
}

.product-image{
  width: 150px;
  height: auto;
}

.product-image img{
  width: 100%;
}

.product-details{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px;
}

.product-details p{
  text-transform: uppercase;
  font-family: "Gupter", 'Times New Roman';
  font-size: 14px;
  font-weight: 500;
}

.product-price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-increment{
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: space-evenly;
  width: 70px;
  padding-block: 3px;
}

.checkout-section{
  width: 100%;
}

.price-summary{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}

.checkout-section a{
  color: black;
}

.checkout-buttons{
    display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
}

.checkout-buttons button{
  width: fit-content;
  padding: 15px 40px;
}

.checkout-buttons button:hover{
  background-color: black;
  color: white;
}

.header-four {
  width: 100%;
  background-color: rgb(250, 242, 231);
  position: relative;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-inline: 40px;
  border-bottom: 2px solid black;
  padding-block: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: rgb(85, 83, 83);
  position: relative;
}

.nav-list a {
  text-decoration: none;
  color: rgb(85, 83, 83);
}

.nav-item {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 200%;
  left: 0;
  background-color: rgb(246, 238, 228);
  color: rgb(34, 38, 42);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease 0.2s;
  font-family: "Gupter";
  font-size: 16px;
  font-weight: 400;
  width: max-content;
  padding: 35px 57px;
  gap: 25px;
}

.nav-item:hover .dropdown,
.dropdown:hover{
  display: flex;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown li {
  list-style: none;
}

#drop-aboutus {
  display: flex;
  flex-direction: column; !important
}

#drop-bath{
  display: flex;
  flex-direction: column; !important
}

.main-up {
  height: 350px;
  width: 100vw;
  overflow: hidden;
  margin-top: 180px;
}

.main-up img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 10px;
}

.main-down {
  padding-block: 40px;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 300px 1fr;
  color: rgb(72, 79, 86);
  background-color: rgb(255, 253, 250);
  width: 100%;
  box-sizing: border-box;
}

.main-left {
  position: sticky;
  left: 0;
  top: 200px;
  align-self: start;
  padding-left: 80px;
  height: fit-content;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(197, 194, 194);
  color: rgb(25, 25, 25);
  cursor: pointer;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion.active .Content{
  height: max-content;
}

.accordion .label span {
  transition: transform 0.2s ease;
}

.accordion.active .label span {
  transform: rotate(45deg);
}

.range {
  padding-top: 30px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}

.filter p {
  font-family: "Gupter", "Times New Roman";
  font-size: 14.0016px;
}

.filter button {
  padding: 10px 17px;
  font-family: "Gupter";
  font-size: 13px;
  font-weight: 600;
  background-color: RGB(223, 227, 231);
  border: none;
  color: RGB(53, 59, 65);
}

.main-left span {
  font-size: 12px;
}



.main-right {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
}

.product-grid {
  width: 100%;
  max-width: 220px;
  background-color: white;
  padding: 10px;
  border: 4px solid rgb(235, 234, 234);
  gap: 12px;
}

.details {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.product-grid img {
  height: 230px;
  width: 200px;
}

.brand {
  font-family: "Gupter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 5px;
}

.product-name {
  max-width: 70%;
  font-family: "Gupter", sans-serif;
  font-size: 13px;
  padding-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-family: "Gupter", "Times New Roman";
  font-size: 14px;
  padding-bottom: 5px;
}

.details button {
  width: fit-content;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px;
  font-family: "Gupter", sans-serif;
  font-size: 13px;
}

.add {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.plusMinus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-block: 3px;
  padding-inline: 13px;
  border-radius: 4px;
  border: 1px solid black;
  justify-content: start;
}

footer {
  background-color: rgb(255, 253, 250);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.f-up-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  height: 40px;
  width: auto;
}

.footer-logo img {
  width: 100%;
  height: 100%;
}

.footer-up {
  background-color: rgb(203, 209, 194);
  color: rgb(28, 30, 32);
  padding-block: 30px;
  padding-inline: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1200px;
  height: 349.5px;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 0;
}

.f-up-right {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  column-gap: 100px;
}

.f-up-right ul {
  list-style: none;
}

.footer-title {
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.f-list a {
  text-decoration: none;
  color: black;
}

.f-up-right li {
  padding-bottom: 10px;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tandc a {
  text-decoration: none;
  color: black;
  gap: 20px;
}
